@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-image-nav{
    background-image: url('/public/janko-ferlic-sfL_QOnmy00-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}